In [73]:
from dotenv import load_dotenv
import os

In [74]:
# Load variables from .env into environment
load_dotenv()

# Access them with os.environ
api_key = os.getenv("ALPACA_API_KEY")
secret_key = os.getenv("ALPACA_SECRET_KEY")
debug_mode = os.getenv("DEBUG") == "True"

paper = True
data_api_url = None

Alpaca API lets you trade stocks programmatically. Below is a simple example of how to use the Alpaca API with Python to place a buy order for a stock.

In [75]:
from datetime import datetime, timedelta
from zoneinfo import ZoneInfo

from alpaca.data.timeframe import TimeFrame, TimeFrameUnit
from alpaca.data.historical.stock import StockHistoricalDataClient
from alpaca.data.requests import StockBarsRequest

import plotly.graph_objects as go
import plotly.express as px
import pandas as pd

pd.set_option("display.max_rows", 500)

In [76]:
stock_historical_data_client = StockHistoricalDataClient(
    api_key, secret_key, url_override=data_api_url
)

symbol = "GOOGL"

# get historical bars by symbol
# ref. https://docs.alpaca.markets/reference/stockbars-1
now = datetime.now(ZoneInfo("America/Chicago"))
req = StockBarsRequest(
    symbol_or_symbols=[symbol],
    timeframe=TimeFrame(amount=1, unit=TimeFrameUnit.Day),  # specify timeframe
    start=now
    - timedelta(
        weeks=52 * 4
    ),  # specify start datetime, default=the beginning of the current day.
    # end_date=None,                                        # specify end datetime, default=now
    # limit=1000,  # specify limit
)

df_bars = stock_historical_data_client.get_stock_bars(req).df

# Calculate 5-period and 20-period Simple Moving Average (SMA)
df_bars["SMA_5"] = df_bars["close"].rolling(window=5).mean()
df_bars["SMA_20"] = df_bars["close"].rolling(window=20).mean()

# Exclude days where SMA values are NaN
df_bars = df_bars.dropna(subset=["SMA_5", "SMA_20"])

# Convert timestamp to date in New York timezone and set as new index
df_bars = df_bars.sort_index(level=["symbol", "timestamp"])


# timestamps_utc = df_bars.index.get_level_values("timestamp")
# dates_ny = timestamps_utc.tz_convert("America/New_York").date
# symbols = df_bars.index.get_level_values("symbol")
# df_bars.index = pd.MultiIndex.from_arrays([symbols, dates_ny], names=["symbol", "date"])

print(f"Number of rows after dropping NaNs: {len(df_bars)}")
display(df_bars.tail(3))

Number of rows after dropping NaNs: 981

                                    open     high     low   close      volume  \
symbol timestamp
GOOGL  2025-09-10 04:00:00+00:00  238.90  241.660  237.85  239.17  35141074.0
       2025-09-11 04:00:00+00:00  239.88  242.250  236.25  240.37  30593309.0
       2025-09-12 04:00:00+00:00  240.37  242.075  238.00  240.80  26771610.0

                                  trade_count        vwap    SMA_5    SMA_20
symbol timestamp
GOOGL  2025-09-10 04:00:00+00:00     514894.0  239.713609  236.028  214.4420
       2025-09-11 04:00:00+00:00     457661.0  239.741396  237.642  216.3625
       2025-09-12 04:00:00+00:00     431474.0  240.395020  238.802  218.2555

## Check Conditions for Trading Signals

### Closing > Opening

In [77]:
df_bars["is_bullish"] = df_bars["close"] > df_bars["open"]
df_bars["is_bullish"].head(3)

symbol  timestamp
GOOGL   2021-10-15 04:00:00+00:00    False
        2021-10-18 04:00:00+00:00     True
        2021-10-19 04:00:00+00:00    False
Name: is_bullish, dtype: bool

In [78]:
def check_initial_buy_conditions(df_window, current_row):
    """
    Checks conditions for opening a new position.
    - Candlestick is bullish.
    - Closing price is the lowest in the last 30 bullish candlesticks.
    """
    if not current_row["is_bullish"]:
        return False

    bullish_window = df_window[df_window["is_bullish"]]
    if bullish_window.empty:
        return True  # If no other bullish candles, this is the lowest.

    return current_row["close"] <= bullish_window["close"].min()


def check_add_to_position_conditions(current_row, group):
    """
    Checks conditions for adding to an existing position.
    - Candlestick is bullish.
    - Closing price is at least 1% lower than the group's average purchase price.
    """
    if not current_row["is_bullish"]:
        return False

    return current_row["close"] <= group["average_price"] * 0.99


def check_sell_conditions(current_row, group):
    """
    Checks conditions for selling all shares in a group.
    - Closing price is at least 3% higher than the group's average purchase price.
    """
    return current_row["close"] >= group["average_price"] * 1.03

In [ ]:
# --- Simulation ---
active_groups = []
next_group_id = 1
reusable_group_ids = []  # Keep track of sold group IDs
trades = []
cash = 100000  # Starting cash

for i in range(29, len(df_bars)):
    df_window = df_bars.iloc[i - 29 : i]
    current_row = df_bars.iloc[i]
    date = current_row.name[1]

    # --- Process existing groups (check for sell or add) ---
    groups_to_remove = []
    for group in active_groups:
        # Check for sell condition
        if check_sell_conditions(current_row, group):
            cash += group["shares"] * current_row["close"]
            trades.append(
                {
                    "date": date,
                    "type": "sell",
                    "price": current_row["close"],
                    "shares": group["shares"],
                    "cash": cash,
                    "group_id": group["id"],
                }
            )
            groups_to_remove.append(group)
            reusable_group_ids.append(group["id"])  # Add group ID for reuse
        # Check for add condition (if group is not full)
        elif group["shares"] < 3 and check_add_to_position_conditions(
            current_row, group
        ):
            cash -= current_row["close"]
            new_total_cost = (
                group["average_price"] * group["shares"] + current_row["close"]
            )
            group["shares"] += 1
            group["average_price"] = new_total_cost / group["shares"]
            trades.append(
                {
                    "date": date,
                    "type": "add",
                    "price": current_row["close"],
                    "shares": 1,
                    "cash": cash,
                    "group_id": group["id"],
                }
            )
            # Stop adding after one group is added to for the day
            break

    # Remove sold groups and sort reusable IDs
    if groups_to_remove:
        active_groups = [g for g in active_groups if g not in groups_to_remove]
        reusable_group_ids.sort()

    # --- Check for initial buy condition to open a new group ---
    all_groups_full = all(g["shares"] >= 3 for g in active_groups)
    if not active_groups or all_groups_full:
        if check_initial_buy_conditions(df_window, current_row):
            cash -= current_row["close"]

            # Determine the group ID to use
            if reusable_group_ids:
                group_id_to_use = reusable_group_ids.pop(0)
            else:
                group_id_to_use = next_group_id
                next_group_id += 1

            new_group = {
                "id": group_id_to_use,
                "shares": 1,
                "average_price": current_row["close"],
            }
            active_groups.append(new_group)
            trades.append(
                {
                    "date": date,
                    "type": "buy",
                    "price": current_row["close"],
                    "shares": 1,
                    "cash": cash,
                    "group_id": group_id_to_use,
                }
            )


df_trades = pd.DataFrame(trades)
if not df_trades.empty:
    df_trades = df_trades.set_index("date")

print("--- Simulation Results ---")
print(f"Final cash: ${cash:,.2f}")
if active_groups:
    print(
        f"Holding {sum(g['shares'] for g in active_groups)} shares across {len(active_groups)} groups."
    )
    for group in active_groups:
        print(
            f"  - Group {group['id']}: {group['shares']} shares at avg price ${group['average_price']:,.2f}"
        )

print("\n--- Trades ---")
display(df_trades)

--- Simulation Results ---
Final cash: $94,607.15
Holding 3 shares across 1 groups.
  - Group 4: 3 shares at avg price $2,387.86

--- Trades ---

                           type    price  shares       cash  group_id
date
2021-12-20 05:00:00+00:00   buy  2832.14       1   97167.86         1
2021-12-22 05:00:00+00:00  sell  2928.30       1  100096.16         1
2022-01-06 05:00:00+00:00   buy  2754.95       1   97341.21         2
2022-01-24 05:00:00+00:00   add  2616.08       1   94725.13         2
2022-02-02 05:00:00+00:00  sell  2960.00       2  100645.13         2
2022-03-08 05:00:00+00:00   buy  2542.09       1   98103.04         3
2022-03-09 05:00:00+00:00  sell  2668.40       1  100771.44         3
2022-04-25 04:00:00+00:00   buy  2461.48       1   98309.96         4
2022-04-28 04:00:00+00:00   add  2370.45       1   95939.51         4
2022-05-02 04:00:00+00:00   add  2331.66       1   93607.85         4
2022-05-02 04:00:00+00:00   buy  2331.66       1   91276.19         5
2022-05-04 04:00:00+00:00  sell  2445.22       1   93721.41         5
2022-05-06 04:00:00+00:00   buy  2314.93       1   91406.48         6
2022-05-11 04:00:00+00:00   add  2272.05       1   89134.43         6
2022-05-12 04:00:00+00:00   add  2256.88       1   86877.55         6
2022-05-12 04:00:00+00:00   buy  2256.88       1   84620.67         7
2022-05-17 04:00:00+00:00  sell  2329.46       1   86950.13         7
2022-05-23 04:00:00+00:00   buy  2229.76       1   84720.37         8
2022-05-24 04:00:00+00:00   add  2119.40       1   82600.97         8
2022-05-25 04:00:00+00:00   add  2116.10       1   80484.87         8
2022-05-25 04:00:00+00:00   buy  2116.10       1   78368.77         9
2022-05-27 04:00:00+00:00  sell  2246.33       3   85107.76         8
2022-05-27 04:00:00+00:00  sell  2246.33       1   87354.09         9
2022-06-02 04:00:00+00:00  sell  2352.45       3   94411.44         6
2022-07-19 04:00:00+00:00   buy   113.81       1   94297.63        10
2022-08-03 04:00:00+00:00  sell   118.08       1   94415.71        10
2022-09-01 04:00:00+00:00   buy   109.74       1   94305.97        11
2022-09-08 04:00:00+00:00   add   108.38       1   94197.59        11
2022-09-14 04:00:00+00:00   add   105.00       1   94092.59        11
2022-09-14 04:00:00+00:00   buy   105.00       1   93987.59        12
2022-09-16 04:00:00+00:00   add   102.80       1   93884.79        12
2022-09-22 04:00:00+00:00   add   100.14       1   93784.65        12
2022-09-22 04:00:00+00:00   buy   100.14       1   93684.51        13
2022-09-26 04:00:00+00:00   add    98.17       1   93586.34        13
2022-10-12 04:00:00+00:00   add    97.56       1   93488.78        13
2022-10-12 04:00:00+00:00   buy    97.56       1   93391.22        14
2022-10-18 04:00:00+00:00  sell   100.77       1   93491.99        14
2022-10-24 04:00:00+00:00  sell   102.52       3   93799.55        13
2022-10-28 04:00:00+00:00   buy    96.29       1   93703.26        15
2022-11-04 04:00:00+00:00   add    86.58       1   93616.68        15
2022-11-07 05:00:00+00:00   add    88.49       1   93528.19        15
2022-11-10 05:00:00+00:00  sell    93.94       3   93810.01        15
2022-12-20 05:00:00+00:00   buy    89.02       1   93720.99        16
2023-01-06 05:00:00+00:00   add    87.34       1   93633.65        16
2023-01-11 05:00:00+00:00  sell    91.52       2   93816.69        16
2023-02-02 05:00:00+00:00  sell   107.74       3   94139.91        12
2023-02-28 05:00:00+00:00   buy    90.06       1   94049.85        17
2023-03-03 05:00:00+00:00  sell    93.65       1   94143.50        17
2023-05-10 04:00:00+00:00  sell   111.75       3   94478.75        11
2023-07-11 04:00:00+00:00   buy   117.14       1   94361.61        18
2023-07-13 04:00:00+00:00  sell   124.54       1   94486.15        18
2023-10-30 04:00:00+00:00   buy   124.46       1   94361.69        19
2023-11-03 04:00:00+00:00  sell   129.10       1   94490.79        19
2024-02-27 05:00:00+00:00   buy   138.88       1   94351.91        20
2024-03-05 05:00:00+00:00   add   132.67       1   94219.24        20
2024-03-07 05:00:00+00:00   add   134.38       1   94084.86        20
2024-03-13 04:00:00+00:00  sell   139.79       3   94504.23        20
2024-07-29 04:00:00+00:00   buy   169.53       1   94334.70        21
2024-08-02 04:00:00+00:00   add   166.66       1   94168.04        21
2024-08-05 04:00:00+00:00   add   159.25       1   94008.79        21
2024-08-05 04:00:00+00:00   buy   159.25       1   93849.54        22
2024-08-13 04:00:00+00:00  sell   164.16       1   94013.70        22
2024-09-05 04:00:00+00:00   buy   157.24       1   93856.46        23
2024-09-11 04:00:00+00:00   add   151.16       1   93705.30        23
2024-09-17 04:00:00+00:00  sell   159.32       2   94023.94        23
2024-10-30 04:00:00+00:00  sell   174.46       3   94547.32        21
2025-02-11 05:00:00+00:00   buy   185.32       1   94362.00        24
2025-02-28 05:00:00+00:00   add   170.28       1   94191.72        24
2025-03-04 05:00:00+00:00   add   170.92       1   94020.80        24
2025-03-12 04:00:00+00:00   buy   167.11       1   93853.69        25
2025-03-19 04:00:00+00:00   add   163.89       1   93689.80        25
2025-03-20 04:00:00+00:00   add   162.80       1   93527.00        25
2025-03-20 04:00:00+00:00   buy   162.80       1   93364.20        26
2025-03-25 04:00:00+00:00  sell   170.56       3   93875.88        25
2025-03-25 04:00:00+00:00  sell   170.56       1   94046.44        26
2025-03-31 04:00:00+00:00   buy   154.64       1   93891.80        27
2025-04-07 04:00:00+00:00   add   146.75       1   93745.05        27
2025-04-09 04:00:00+00:00  sell   158.71       2   94062.47        27
2025-07-14 04:00:00+00:00  sell   181.56       3   94607.15        24